/*/// Main Begin ///*/

main {
    padding-top: 2.97em;
    margin-bottom: 0;
}

/* Services and Pricing Lists */

.services-headline {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #fff;
    margin-top: 0em;
    padding: 0.1em 0em 0.1em 0.5em;
    background-color: transparent;
    background-color: rgba(56, 69, 62, 0.65);
}

.services-list {
    list-style: none;
    font-family: 'Slabo 27px', sans-serif;
    font-size: 1.25em;
}

/* Disclaimer */
main>div>p {
    font-size: 0.85em;
    margin-top: -1.05em;
    margin-right: 0.25em;
}

/* Booking iframe*/
#booking-iframe {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.15em;
    margin-bottom: 4.25em;
    width: 40.22em;
    height: 100em;
    border: 0.075em groove #333;
}

#maid-image {
    width: 20em;
    height: 20em;
    top: 107.55em;
    right: 0em;
    z-index: -1;
}
