/*Import Fonts - Cabin(sans-serif), Merriweather(serif)*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display:900|Slabo+27px');

/* Multiuse */
.centered {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.inline {
    display: inline;
}

.abs-elm {
    position: absolute;
}

.rel-elm {
    position: relative;
}

.weight-light {
    font-weight: lighter;
}

.weight-bold {
    font-weight: bold;
}

.borderless {
    border-style: hidden;
}
/* Header and Navigation*/

nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-image: url('../img/nav-texture.png');
    background-size: contain;
    background-color: #657b8c;
    z-index: 2;
    border-bottom: 2px groove #333333;
}

nav ul {
    width: 100%;
    margin-left:-35px;
    margin-top: 13px;
}

nav ul li {
    padding: 0px 35px 0px 35px;
    border-left: 1px groove #226343;
    border-right: 1px groove #226343;
}

nav ul li a {
    color: #fff7f6;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
}

nav ul li a:hover {
    color: #b88381;
}

/*/// Body Begin ///*/

body {
    overflow-x: hidden;
    background-color: #edeffe;
    margin: 0;
}

/* Hero-Tron */
#hero-container {
    height: 600px;
    width: 100%;
    
    margin: 0;
    background: url('../img/hero.jpg') fixed;
    background-size: cover;
}

#hero {
    height: 600px;
    width: 100%;
    
    /*margin-left: 25%;*/
    /*top: 12%;*/
    
    background-color: #b2ccc0;
    background-color: rgba(55, 55, 55, 0.10);
    border-top: 1px groove #333;
    border-color: rgba(15, 15, 15, 0.55);
}

#hero>#headline {
    top: 45%;
    width: 100%;
    margin: 0;
    
    background-color: rgba(22, 22, 22, 0.65);
    font-family: 'Playfair Display', sans-serif;
    font-size: 86px;
    font-weight: 900;
    color: #fff;
}

#sub-headline {
    width: 100%;
    
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}

/*/// Main ///*/

#main-style {
    margin: 0;
    height: 535px;
    width: 100%;
}
/* Three Blue Boxes*/

#three-box-container {
    height: 200px;
    width: 760px;
    left: 50%;
    transform: translateX(-50%);
}

.blue-box {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background-color: #657b8c;
}

#center-box {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background-color: #657b8c;
    margin-left: 5em;
    margin-right: 5em;
}

.fa-heart-o {
    margin-left: 34px;
    margin-top: 25px;
    color: #fff;
}

.fa-phone {
    margin-left: 52px;
    margin-top: 25px;
    color: #fff;
}

.fa-hourglass-half {
    margin-left: 47px;
    margin-top: 15px;
    color: #fff;
}

.fa-5x {
    font-size: 125px;
}

#box-heart {
    font-family: 'Merriweather', serif;
    color: #fff;
    width: 200px;
    margin-top: -2px;
}

#box-phone {
    font-family: 'Merriweather', serif;
    color: #fff;
    width: 200px;
    margin-top: -5px;
}

#box-hourglass {
    font-family: 'Merriweather', serif;
    color: #fff;
    width: 200px;
    margin-top: 12px;
}

/* Main Text */

#main-text-container {
    font-family: 'Slabo 27px', sans-serif;
    font-size: 24px;
    color: #333;
    
    height: 200px;
    width: 100%;
    margin-bottom: 45px;
    background-color: #fff8f0;
    border-top: 1px groove #333;
    border-bottom: 1px groove #333;
    border-color: rgba(15, 15, 15, 0.55);
}

#main-text-container>p {
    margin-top: 35px;
    line-height: 1.25;
}

/*/// Footer ///*/

footer {
    height: 100px;
    width: 100%;
    background-color: #fff8f0;
    border-top: 1px groove #333;
    border-color: rgba(15, 15, 15, 0.55);
    margin-top: -3.25em;
}

#icons {
    color: #333;
    font-size: 2.75em;
    margin-top: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
}

footer>a>#icons:hover {
    color: #657b8c;
}

footer>ul {
    margin-top: 0px;
}

footer>ul>li{
    font-size: 1em;
    margin-left: 0px;
    margin-right: 25px;
}

footer>ul>li>a {
    text-decoration: none;
    color: #333;
}

footer a:hover {
    color: #657b8c;
}

#copyright {
    margin-top: 0px;
    font-size: 0.85em;
}