    /* Import Fonts - Playfair-Display(serif, 900 weight), Merriweather(serif), Slabo 27px(sans-serif) */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display:900|Slabo+27px');

/*/// Multiuse ///*/

.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
.justified {
    text-align: justify;
}

.align-left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.inline {
    display: inline;
}

.abs-elm {
    position: absolute;
}

.rel-elm {
    position: relative;
}

.weight-light {
    font-weight: lighter;
}

.weight-bold {
    font-weight: bold;
}

.borderless {
    border-style: hidden;
}

.white-text {
    color: #fff;
}

.logo-colored-text {
    color: #38453E;
}

.active {
    color: #F1FFF8;
}

.white-field {
    width: 100%;
    background-color: #F1FFF8;
    border: 0.05em groove #38453E;
    margin: 1em 0em 1em 0em;
}

/*/// Body Begin ///*/
body {
    overflow-x: hidden;
    background-color: #DFF8EB;
    margin: 0;
    cursor: default;
}

    /* Header and Navigation */

nav {
    position: fixed;
    height: 2em;
    width: 100%;
    padding: 0.45em;
    background-image: url('../img/nav-texture.png');
    background-size: contain;
    background-color: #4a7750;
    z-index: 2;
    border-bottom: 0.115em groove #38453E;
}

nav ul {
    width: 100%;
    margin-left:-2.25em;
    top: -0.65em;
}

nav ul li {
    padding: 0 2em 0 2em;
    border-left: 0.1em groove #38453E;
    border-right: 0.1em groove #38453E;
}

nav ul li a {
    color: #38453E;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.24em;
}

nav ul li a:hover {
    color: #F1FFF8;
}

    /* Hero-Tron */

#hero-container {
    height: 37.25em;
    width: 100%;

    margin: 0;
    background: url('../img/hero.jpg') fixed;
    background-size: cover;
}

#hero {
    height: 37.25em;
    width: 100%;
    background-color: transparent;
    background-color: rgba(55, 55, 55, 0.10);
    border-top: 0.1em groove #38453E;
    border-color: rgba(56, 69, 62, 0.55);
}

#hero>#headline {
    top: 4.15em;
    width: 100%;
    margin: 0;
    background-color: #38453E;
    background-color: rgba(56, 69, 62, 0.65);
    font-family: 'Playfair Display', sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    color: #fff;
}

    /* Logo */

#logo {
    left: 50%;
    transform: translateX(-50%);

    height: 14em;
    width: 14em;

    background-image: url('../img/ladycircle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    margin-top: -12.5em;
}

#sml-circle {
    height: 10.5em;
    width: 10.5em;

    top: 4.5em;
    left: 50%;
    transform: translateX(-50%);

    background-color: #4a7750;
    border: 0.05em outset #38453E;
    border-radius: 50%;
}

    /* MM */
#sml-circle>h4 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    margin-top: 0.23em;
}

    /* Modern Maid */
#sml-circle>h5 {
    width: 7em;
    top: 3.95em;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
}

/*/// Main ///*/

#main-style {
    margin: 0;
    height: 32.55em;
    width: 100%;
}

    /* Main Text */

#main-text-container {
    font-family: 'Slabo 27px', sans-serif;
    font-size: 1.45em;
    color: #323232;
    margin-bottom: 2em;
    background-color: #F1FFF8;
    border-top: 0.1em groove #333;
    border-bottom: 0.1em groove #333;
    border-color: rgba(15, 15, 15, 0.55);
}

#main-text-container>p {
    width: 24em;
    margin-top: 1.75em;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.25;
}

    /* Three Blue Boxes*/

#three-box-container {
    height: 12.5em;
    width: 48em;
    left: 50%;
    transform: translateX(-50%);
}

.green-box {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-color: #38453E;
}

#center-box {
    height: 12em;
    width: 12em;
    cursor: pointer;
    border-radius: 50%;
    border: 0.15em groove #496;
    background-color: #4a7750;
    margin-left: 5.5em;
    margin-right: 5.5em;
}

#center-box:active {
    border: 0.15em inset #6c7;
    outline: none;
}

#center-box:hover {
    background-color: #339764;
    border-color: #6c7;
}

#center-box a {
    text-decoration: none;
    line-height: 0.98;
    height: 12.5em;
    width: 12.5em;
    border-radius: 50%;
}

.fa-heart {
    margin-left: 0.7em;
    margin-top: 0.33em;
    margin-bottom: 0.2em;
    color: #F1FFF8;
}

.fa-book {
    margin-left: 0.75em;
    margin-top: 0.25em;
    color: #F1FFF8;
}

.fa-hourglass-half {
    margin-left: 1.075em;
    margin-top: 0.5em;
    color: #F1FFF8;
}

#box-heart {
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    color: #F1FFF8;
    width: 9em;
    margin-top: -0.65em;
    margin-left: 0.45em;
}

#box-book {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #F1FFF8;
    width: 9em;
    margin-left: 0.5em;
    margin-top: 0.15em;
}

#box-hourglass {
    font-family: 'Merriweather', serif;
    font-size: 1.25em;
    color: #F1FFF8;
    width: 9em;
    margin-top: 1em;
    margin-left: 0.25em;
}

/*/// Footer ///*/

footer {
    height: 9em;
    width: 100%;
    background-color: #F1FFF8;
    border-top: 0.1em groove #333;
    border-color: rgba(15, 15, 15, 0.55);
    margin-top: -3.25em;
    padding-bottom: 0.5em;
}

    /* Social Media */

#social-media-container {
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    height: 5em;
    width: 50em;
}

#social-media-container>a {
    padding: 1.25em 0.15em 0em 0.5em;
}

.icons {
    margin: 0.5em 0em 0 0em;
    color: #38453E;
    font-size: 2.7em;
}

.icons:hover {
    color: #339764;
}

    /* Site Map */

#site-map-container {
    width: 50em;
    margin-top: 0.15em;
    left: 50%;
    transform: translateX(-50%);
}

#site-map-container>ul>li{
    font-size: 0.90em;
    margin-left: 1em;
    margin-right: 1em;
}

#site-map-container>ul>li>a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #38453E;
}

#site-map-container>ul>li>a:hover {
    color: #339764;
}

    /* Copyright */

#copyright {
    font-family: 'Slabo 27px', sans-serif;
    margin-top: -1.4em;
    font-size: 0.72em;
    color: #38453E;
    text-decoration: none;
}

#copyright>a {
    font-size: 1.25em;
    text-decoration: none;
    color: #339764;
}

#copyright>a:hover {
    color: #38453E;
}

#copyright>a:visited {
    color: #339764;
}

#copyright>a:visited:hover {
    color: #38453E;
}
